body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

header {
    display: block;
    min-height: 100px;
    background-color: #C0C0C0;
    align-items: center;
    justify-content: center;
  }

footer {
    min-height: 100px;
    background-color:#C0C0C0;
  }

  button {
    min-width: 250px;
    max-width: max-content;
  }

  .buttom{
    flex-direction: column;
    gap: 12px;
  }
  form {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    flex-direction: column;
    gap: 12px;
  }

  main {
    flex-grow: 1;
    flex-shrink: 0;
  }
  main p {
    margin-top: 30px;
  }